---
# Default home page with boxes providing collection stats
layout: page
---
<style>
@media (min-width: 768px) {
  .home-carousel-col {
    display: flex;
    flex-direction: column;
    flex: 0 0 60%;
    max-width: 60%;
    width: 60%;
  }
  .home-sidebar-col {
    flex: 0 0 40%;
    max-width: 40%;
    width: 40%;
  }
  .home-carousel-col > .card {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .home-carousel-col > .card > .card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .home-carousel-col #imageCarousel {
    flex: 1;
    min-height: 300px;
  }
  .home-carousel-col #imageCarousel .carousel-inner {
    height: 100%;
  }
  .home-carousel-col #imageCarousel .carousel-item {
    height: 100% !important;
  }
}
</style>
<div class="row align-items-stretch">

  <div class="col-md-8 home-carousel-col">

    {% include index/carousel.html title="Sample Items" %}

  </div>
  <div class="col-md-4 home-sidebar-col">

    {% include index/time.html %}

    {% include index/featured-terms.html field="species" title="Top Species" btn-color="primary" %}

    {% include index/featured-terms.html field="location" title="Locations" btn-color="outline-secondary" %}

    {% include index/content.html %}

  </div>

</div>
